html {
    height: 100%;
    width: 100%;
}

h1, h2{
    text-align: center;
}

h3{
    font-family: "Clicker script";
}
p {
    font-family: "Caveat";
}
body{
    background-color: #f5ebc9;
}

.game {
    width: 805px;
    height: 506px;
    border: 3px solid #bcbd50;
    box-shadow: 0px 0px 15px #080034;
    margin: auto;
    background: url("placeholders/mika_fs.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.textbox{
    border-radius: 70px;
    background-color: #080034;
    color: #ffffff;
    padding: 5px;
    padding-left: 50px;
    opacity: .8;
    margin: 10px;
}

.textbox span{
    margin-left: 400px;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.decision-box{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    position: relative;
    top: -50px;
}

button{
    background-color: #f5ebc9;
    color: #8b6b72;
    border-radius: 50px;
    width: 300px;
    height: 50px;
    margin: 3px auto;
}