html {
    height: 100%;
    width: 100%;
    cursor: default;
}

h1, h2{
    text-align: center;
}

h3{
    font-family: "Clicker script";
}
p{
    font-family: "Caveat";
    display: inline-block;
    
}
body{
    background-color: #f5ebc9;
}

#game {
    width: 805px;
    height: 506px;
    border: 3px solid #bcbd50;
    box-shadow: 0px 0px 15px #080034;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.top{
    z-index: 2;
}

.bottom{
    z-index: 1;
    object-fit: cover;
    object-position: 15% 50%;
    position: relative;
    top: 100px;
}

.textbox{
    border-radius: 70px;
    background-color: #080034;
    color: #ffffff;
    padding: 5px;
    padding-left: 50px;
    opacity: .8;
    margin: 10px;
    z-index: 3;
}

a{
    color: #ffffff;
    text-decoration: none;
}
.menu{
    border: 1px solid #ffffff;
}

.settings-box, .dialogue-log-box{
    background-color: #8b6b72;
    border-radius: 50px;
    border: 2px solid #726F78;
    width: 4%;
    display: inline-block;
}

.settings-box:hover, .dialogue-log-box:hover {
    background-color: #ffffff;
}


.decision-box{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    position: relative;
    top: -50px;
}

button{
    background-color: #f5ebc9;
    color: #8b6b72;
    border-radius: 50px;
    width: 300px;
    height: 50px;
    margin: 3px auto;
}

#forward, #back{
    width: 50px;
    height: 20px;
    background: none;
    border: none;

}
#forward:hover, #back:hover{
    color: #ffffff;
}
