html {
    height: 100%;
    width: 100%;
    cursor: default;
}

h1, h2{
    text-align: center;
}

h3{

    font-family: "Clicker script";
}
p{
    font-family: "Caveat";
    display: inline-block;
    
}
body{
    background-color: #f5ebc9;
}

#game {
    width: 805px;
    height: 506px;
    border: 3px solid #bcbd50;
    box-shadow: 0px 0px 15px #080034;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#top{
    z-index: 2;
    object-fit: cover;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    top: 650px;
    opacity: 100%;
    visibility: hidden;
}
#bottom{
    z-index: 1;
    object-fit: cover;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    top: 144px;
    opacity: 100%;
    visibility: hidden;

}

#bg{
    z-index: 1;
    object-fit: cover;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    top: 1156px;
    position: relative;
    opacity: 100%;
}

#sprite-left, #sprite-right{
    z-index: 2;
    position: relative;
    top: 1665px;
}

#sprite-right{
    left: 150px;
}
#sprite-left{
    left: 50px;
}
.textbox{
    border-radius: 70px;
    background-color: #080034;
    color: #ffffff;
    padding: 5px;
    padding-left: 50px;
    opacity: .8;
    margin: 10px;
    z-index: 3;
}

a{
    color: #ffffff;
    text-decoration: none;
}
span{
    color:#ffffff;
    display: block;
    text-align: center;
    margin-top: 5px;
}
.menu{
    border: 1px solid #ffffff;
    border-left: none;
    border-right: none;
    border-top: none;
    background: rgba(255,255,255, 0.6);
    position: relative;
    /* measurement before adding bg top: 1395px; */
    top: 1901px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
}
#confirmation-box{
    position: relative;
    /* top: 1427px;  */
    top: 1933px;
    /* 908 */
    z-index: 5;
    background-color: #080034;
    width: 400px;
    margin: auto;
    padding: 10px;
    color: #bcbd50;
    visibility : hidden;
    opacity: 0%;
    transition: top .8s, opacity 1s;

}
#dialogue-history-box{
    z-index: 6;
    background-color: #080034;
    position: relative;
    top: 1840px;
    max-height: 400px;
    color: #ffffff;
    min-width: 300px;
    margin: auto;
}
#dialogue-history-box img{
    position: relative;
    margin: auto;
}
.back-bg{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 30px;
    float: right;
    position: relative;
    right: 5px;
    top: 2px;
}
.confirmation-button{
    width: 50px;
    height: 30px;
}
.confirmation-button:hover{
    background-color: #ffffff;
}

.settings-box, .dialogue-log-box, #home{
    background-color: #8b6b72;
    border-radius: 50px;
    border: 2px solid #726F78;
    width: 4.5%;
    /* display: inline-block; */
    
}


.settings-box:hover, .dialogue-log-box:hover, #home:hover {
    background-color: #ffffff;
}


.decision-box{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    position: relative;
    top: -50px;
}

button .choice, #forward, #back{
    background-color: #f5ebc9;
    color: #8b6b72;
    border-radius: 50px;
    width: 300px;
    height: 50px;
    margin: 3px auto;
}

#forward, #back{
    width: 50px;
    height: 20px;
    background: none;
    border: none;

}
#forward:hover, #back:hover{
    color: #ffffff;
}

.game_scene{
    visibility: visible;
    transition: opacity 2s;
}

